body{
    padding: 0;
    margin: 0;
    background-color: rgb(253, 242, 231);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

body>a:hover {
    text-decoration-line: underline;
}

/*header */


header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
}

h1 {
    font-size: 28px;
}


nav {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    align-items: first baseline;
    gap:15px;
    font-size: 17px;
}

.dropdown-container {
    display: inline-block;
    position: relative;
}

.dropdown-container>a{
    padding-bottom: 10px;
}

.dropdown-nav {
    display: none;
    color: white;
    background-color: rgb(78, 78, 78);
    border-radius: 8px;
    position: absolute;
    top: 30px;
    z-index: 1;
    min-width: 130px;
}

.dropdown-nav>a{
    color: white;
    padding: 5px;
    display: block;
}

.dropdown-nav>a:hover{
    color: white;
    padding: 5px;
    display: block;
    background-color: black;
}



.twitter {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.podcast {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dropdown-container:hover .dropdown-nav{
    display: block;
}

.small-nav{
    display: none;
}

.menu-content{
    display: none;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    padding: 40px;
    position: absolute;
    right: -20px;
    top: 100px;
    z-index: 1;
    min-width: 300px;

}

.menu-content>a{
    display: block;
    color: white;
    font-size: 24px; 
    padding-top: 20px;   
}

.small-dropdown-container {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    padding-right: 50px;
}

.small-dropdown-container>a {
    color: white;
    font-size: 24px;
    
}

.small-dropdown-container:hover .small-dropdown-nav{
    display: block;
}

.small-dropdown-nav {
    display: none;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    border: 1px white solid;
    position: absolute;
    left: 180px;
    bottom: -80px;
    z-index: 1;
    font-size: 20px;
}

.small-dropdown-nav>a{
    color: white;
    padding: 5px;
    display: block;
}

.small-dropdown-nav>a:hover{
    color: white;
    padding: 5px;
    display: block;
    background-color: rgb(117, 117, 117);
}

@media screen and (max-width:850px) {
    nav {
        display: none;
    }

    .small-nav {
        display: flex;
    }
    
}

.menu-icon:click .menu-content{
    display: block;
    
}

/* Hero */

.hero{
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
    gap: 100px;
}

.hero-text {
    flex: auto;
    max-width: 600px;
}

.hero-big {
    font-size: 38px;
    font-weight: 900;
}

.hero-small {
    font-size: 30px;
    font-weight: 100;
}

#myForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form>input {
    min-height: 45px;
    font-size: 30px;
}

.hero-img {
    max-width: 450px;
    flex: auto;
    
}

.hero-img>img{
    max-width: 100%;
}

@media screen and (max-width:850px) {
    .hero{
        flex-wrap: wrap;
    }
}

/*Articles*/

.articles-background {
    background-color: rgb(255, 226, 183);
    padding-top: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
}
.articles-background>a>p {
    font-size: 25px;
}

.articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.article{
    display: flex;
    align-items: center;
    justify-content: center;
}

.article:hover {
    -webkit-filter: grayscale(100%);
    
}

h3{
    font-size: 30px;
    padding:20px;
    text-align: center;
    
}

#more-articles{
    font-display: block;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    
}

/*Footer*/

footer {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    gap: 20px;

}

footer>div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    min-width: 400px;
}

footer>div>p{
    margin: 0;
}